<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DCS-<i>ERP</i> ADMIN PANEL </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dashboard-active" ><a href="/admin/dashboard">Dashboard</a></li>
        <li class="timetable-active" ><a href="/admin/class">Manage Classes</a></li>
        <li><a href="/admin/teachers">Manage Teachers</a></li>
        <li><a href="/admin/courses">Manage Courses</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
